<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <title>PreTrip-Log in</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=M+PLUS+1p&family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/login.css">
</head>
<body>
  <div class="sidebar">
    <ul class="menu-items">
      <li class="menu-item active">
        <p id="user">Log in / Sign up</p>
        <img src="../static/login_images/user.png" width="24" height="24">
      </li>
      <a href="bookmark.html" class="menu-item">
        Bookmark
        <img src="../static/login_images/bookmark.png" width="24" height="24">
      </a>
      <a href="../templates/recent.html" class="menu-item">
        Recent History
        <img src="../static/login_images/recent.png" width="24" height="24">
      </a>
    </ul>
  </div>

  <main>
    <div class="login-container">
      <div class="loginBox">
        <h2>Login</h2>
        <form method="post" action="/bookmark.html" id="login-form">
          <input type="text" name="userName" placeholder="ID" id="userName">
          <input type="password" name="userPassword" placeholder="Password">
          <input type="submit" value="Login">
          <div class="centered-image">
            <a id="kakao-login" href="#">
              <img class="snsLogin" src="../static/login_images/kakao_login.png" />
            </a>
          </div>
        </form>
      </div>
    </div>
  </main>
  <script src="../components/login.js"></script>
</body>

<footer class="footer">
  <img src="../static/login_images/PreTrip.png" class="footer-image">
</footer>

</html>




